$dark-green: #184d47;
$light-green: #96bb7c;
$light-bg: #d6efc7;
$yellow: #fad586;
$dark-pink: #ba135d;
$light-orange: #d99879;

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.fondo {
    position: relative;
    background: $light-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .circulo {
        position: relative;
        background:$yellow;
        width: 80vmin;
        height: 80vmin;
        border-radius: 50%;
        &::before {
            content: "";
            position: absolute;
            width: 36vmin;
            height: 8vmin;
            background: #000;
            border-radius: 50%;
            opacity: 0.2;
            bottom: 2vmin;
            left: 22vmin;
        }
        .cactus-title {
            position: absolute;
            display: block;
            top: 9vmin;
            left: 31.5vmin;
            font-family: 'KoHo', sans-serif;
            font-size: 5vmin;
            text-align: center;
        }
        .maceta {
            border-top: 25vmin solid $dark-pink;
            border-left: 10vmin solid transparent;
            border-right: 10vmin solid transparent;
            height: 20vmin;
            width: 40vmin;
            border-radius: 2vmin;
            position: absolute;
            bottom: 5vmin;
            left: 19.5vmin;
            .ojos {
                position: absolute;
                background: #000;
                border-radius: 50%;
                width: 3vmin;
                height: 3vmin;
                &.ojo-izq {
                    bottom: 15vmin;
                    left: 4vmin;
                    &::after{
                        content: "";
                        position: absolute;
                        left: 1.4vmin;
                        top: 0.8vmin;
                        width: 0.5vmin;
                        height: 0.5vmin;
                        border-radius: 50%;
                        background: #fff;
                    }
                }
                &.ojo-der {
                    bottom: 15vmin;
                    right: 4vmin;
                    &::after{
                        content: "";
                        position: absolute;
                        left: 1.4vmin;
                        top: 0.8vmin;
                        width: 0.5vmin;
                        height: 0.5vmin;
                        border-radius: 50%;
                        background: #fff;
                    }
                }
            }
            .mejillas {
                position: absolute;
                height: 2vmin;
                width: 4vmin;
                border-radius: 50%;
                background: #f4a9a8;
                opacity:0.5;
                &.mejilla-izq {
                    bottom: 12vmin;
                    left:3vmin;
                }
                &.mejilla-der {
                    bottom: 12vmin;
                    right:3vmin;
                }
            }
            .boca {
                position: absolute;
                bottom: 8vmin;
                left: 7.5vmin;
                background: transparent;
                height: 6vmin;
                width: 6vmin;
                border-radius: 50%;
                border-bottom: 1vmin solid #000;
            }
        }
        .cactus-grande {
            position: absolute;
            width: 15vmin;
            height: 40vmin;
            border-radius: 45%;
            background: $dark-green;
            top: 18vmin;
            left: 24vmin;
            border: 1px solid #000;
            &::after {
                content: '';
                position: absolute;
                height: 40vmin;
                width: 5vmin;
                background: transparent;
                border-radius: 50%;
                border-right: 2px solid $light-green;
                right: 4vmin;
            }
            &::before {
                content: '';
                position: absolute;
                height: 40vmin;
                width: 5vmin;
                background: transparent;
                border-radius: 50%;
                border-left: 2px solid $light-green;
                left: 4vmin;
            }
        }
        .cactus-chico {
            position: absolute;
            height: 25vmin;
            width: 20vmin;
            border-radius: 43%;
            background:$light-green;
            border: 1px solid #000;
            top: 30vmin;
            right: 23vmin;
            &:after {
                content: "";
                position: absolute;
                height: 25vmin;
                width: 5vmin;
                border-radius: 50%;
                background: transparent;
                border-right:2px solid $dark-green;
                right: 5vmin;
            }
            &:before {
                content: "";
                position: absolute;
                height: 25vmin;
                width: 5vmin;
                border-radius: 50%;
                background: transparent;
                border-left:2px solid $dark-green;
                left: 5vmin;
            }
        }
    }
}